body {
    background: black;
}

#world {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    width: 20px;
    height: 20px;
}

#player {
    background: red;
}

.entity {
    position: absolute;
    transform: translate(-50%, -50%);
}
